{
  "openapi": "3.1.0",
  "info": {
    "title": "국세청 법령해석 API",
    "description": "국가법령정보공동활용 API를 통해 국세청의 법령해석 사례를 검색합니다.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "http://www.law.go.kr",
      "description": "국가법령정보 API 서버"
    }
  ],
  "paths": {
    "/DRF/lawSearch.do": {
      "get": {
        "operationId": "getTaxInterpretations",
        "summary": "국세청 법령해석 목록 조회",
        "parameters": [
          { "name": "OC", "in": "query", "required": true, "schema": { "type": "string", "default": "wjh5070" } },
          { "name": "target", "in": "query", "required": true, "schema": { "type": "string", "enum": ["ntsCgmExpc"], "default": "ntsCgmExpc" } },
          { "name": "type", "in": "query", "required": true, "schema": { "type": "string", "enum": ["HTML", "XML", "JSON"], "default": "JSON" } },
          { "name": "search", "in": "query", "schema": { "type": "integer", "enum": [1, 2], "default": 1 } },
          { "name": "query", "in": "query", "schema": { "type": "string" } },
          { "name": "display", "in": "query", "schema": { "type": "integer", "default": 20, "maximum": 100 } },
          { "name": "page", "in": "query", "schema": { "type": "integer", "default": 1 } },
          { "name": "inq", "in": "query", "schema": { "type": "integer" } },
          { "name": "rpl", "in": "query", "schema": { "type": "integer" } },
          { "name": "gana", "in": "query", "schema": { "type": "string" } },
          { "name": "itmno", "in": "query", "schema": { "type": "integer" } },
          { "name": "explYd", "in": "query", "schema": { "type": "string", "pattern": "^\\d{8}~\\d{8}$" } },
          { "name": "sort", "in": "query", "schema": { "type": "string", "enum": ["lasc", "ldes", "dasc", "ddes", "nasc", "ndes"], "default": "lasc" } },
          { "name": "popYn", "in": "query", "schema": { "type": "string", "enum": ["Y", "N"] } },
          { "name": "fields", "in": "query", "schema": { "type": "string" } }
        ],
        "responses": {
          "200": {
            "description": "해석 목록 조회 성공",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "totalCnt": { "type": "integer" },
                    "page": { "type": "integer" },
                    "list": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "integer" },
                          "법령해석일련번호": { "type": "integer" },
                          "안건명": { "type": "string" },
                          "안건번호": { "type": "string" },
                          "질의기관코드": { "type": "integer" },
                          "질의기관명": { "type": "string" },
                          "해석기관코드": { "type": "string" },
                          "해석기관명": { "type": "string" },
                          "해석일자": { "type": "string" },
                          "데이터기준일시": { "type": "string" },
                          "상세링크": { "type": "string" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
