openapi: 3.1.0
info:
  title: 국세청 법령해석 API
  description: 국가법령정보공동활용 open API를 사용하여 국세청 법령해석 사례를 조회합니다.
  version: 1.0.0
servers:
  - url: https://www.law.go.kr

paths:
  /DRF/lawSearch.do:
    get:
      operationId: getTaxInterpretations
      summary: 국세청 법령해석 목록 조회
      parameters:
        - name: OC
          in: query
          required: true
          schema:
            type: string
            default: wjh5070
        - name: target
          in: query
          required: true
          schema:
            type: string
            enum: [ntsCgmExpc]
            default: ntsCgmExpc
        - name: type
          in: query
          required: true
          schema:
            type: string
            enum: [JSON]
            default: JSON
        - name: query
          in: query
          required: false
          schema:
            type: string
        - name: display
          in: query
          required: false
          schema:
            type: integer
            default: 20
        - name: page
          in: query
          required: false
          schema:
            type: integer
            default: 1
      responses:
        '200':
          description: 해석 목록 조회 성공
          content:
            application/json:
              schema:
                type: object
                properties:
                  totalCnt:
                    type: integer
                  list:
                    type: array
                    items:
                      type: object
                      properties:
                        안건명:
                          type: string
                        안건번호:
                          type: string
                        해석일자:
                          type: string
                        상세링크:
                          type: string
